@media screen and (max-width:768px) {
    .main {
        width: 100% !important;
        margin: 0px !important;
    }

    .offcanvas {
        width: 100% !important;
    }
}

.main{
    overflow-y: hidden !important;
}